name: mixen
description: "A new Flutter project."

publish_to: 'none' 

version: 1.0.0+1

environment:
  sdk: ^3.10.7

dependencies:
  flutter:
    sdk: flutter

  cupertino_icons: ^1.0.8
  card_swiper: ^3.0.1
  shared_preferences: ^2.5.4
  http: ^1.6.0
  image_picker: ^1.2.1
  permission_handler: ^12.0.1
  device_info_plus: ^12.3.0

dev_dependencies:
  flutter_test:
    sdk: flutter


  flutter_lints: ^6.0.0


flutter:
  uses-material-design: true


  # Add assets to your application.
  assets:
    - assets/images/
    - assets/socials/google.png